<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client detail</title>
</head>
<body>
    <p>Client detail</p>
    <div>
        <table id="books">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone number</th>
          </tr>
          <tr>
            <td>{{ client.client_name }}</td>
            <td>{{ client.client_email }}</td>
            <td>{{ client.phone_number }}</td>
          </tr>
        </table>
</div>
</body>
</html>