<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clients list</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
</head>
<body>
    <div>
        <h3>Clients list</h3>
        <form action="create_new_client/">
            <button type="submit">Create new client</button>
        </form>
    </div>
        <div>
            <form method="post">{% csrf_token %}
                {{ form.as_p }}
              <input type="submit" value="Search">
            </form>
        </div>
    <div>
        <table id="grid" class="display" style="width:100%">
         <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th class="no-sort">Contact Name</th>
            <th class="no-sort">State</th>
            <th class="no-sort">Street</th>
            <th>Suburb</th>
            <th class="no-sort">Postcode</th>
          </tr>
         </thead>

          <tbody>
            {% for client in clients %}
              <tr>
                <td><a href="{% url 'client_apdate' client.pk %}">{{ client.client_name }}</a></td>
                <td>{{ client.client_email }}</td>
                <td>{{ client.phone_number }}</td>
                <td>{{ client.contact_name }}</td>
                <td>{{ client.state }}</td>
                <td>{{ client.street_name }}</td>
                <td>{{ client.suburb }}</td>
                <td>{{ client.postcode }}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>

</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#grid').DataTable( {

    "ordering": true,
    columnDefs: [{
      orderable: false,
      targets: "no-sort"
    }]

  });
});
</script>
</body>
</html>